<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Skills</title>
</head>
<body>

    <p> <span data-typewriter="Core Skills:" ></span> </p> <br>

    <ul>
        <li> <span data-typewriter="> Good communication skills" ></span> </li>
        <li> <span data-typewriter="> Problem-solving" ></span> </li>
        <li> <span data-typewriter="> Technical expertise" ></span> </li>
        <li> <span data-typewriter="> Collaboration abilities" ></span> </li>
        <li> <span data-typewriter="> Adaptability" ></span> </li>
    </ul>

    <br>
    <br>

    <p><span data-typewriter="Technical Skills:" ></span> </p> <br>

    <ul>
        <li><span data-typewriter="> Python:" ></span> 
            <ul>
                <li><span data-typewriter="i. Django Framework" ></span> </li>
                <li><span data-typewriter="ii. Flask Framework" ></span> </li>
            </ul>
        </li> <br>
        <li><span data-typewriter="> JavaScript" ></span> </li>
        <li><span data-typewriter="> React" ></span> </li>
        <li><span data-typewriter="> React Native" ></span> </li>
        <li><span data-typewriter="> SQL & Database Management" ></span> </li>
        <li><span data-typewriter="> HTML & CSS" ></span> </li>
    </ul>
    
    <script src="{{ url_for('static', filename='terminal.js') }}"></script>

</body>
</html>