<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>My Education</title>
</head>
<body>

    <p> <span data-typewriter="Education:" ></span> </p>

    <ul>

        <li> <span data-typewriter="> Moi High School- Kabarak Grade A-" ></span> </li> <br>
        <li> <span data-typewriter="> Full Stack Software Engineering- Moringa School" ></span> </li> <br>

    </ul>

    <script src="{{ url_for('static', filename='terminal.js') }}"></script>
    
</body>
</html> -->