<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>My Education</title>
</head>
<body>

    <p> <span data-typewriter="Education:" ></span> </p>

    <ul>

        <li> <span data-typewriter="Past:" ></span> 
            <ul>
                <li> <span data-typewriter="> Moi High School- Kabarak Grade A-" ></span> </li>
            </ul>
        </li>

        <br>
        <br>

        <li> <span data-typewriter="Present:" ></span> 
            <ul>
                <li> <span data-typewriter="> Diploma in Business Information Technology- Strathmore Univerity"></span> </li>
                <li> <span data-typewriter="> BSc Software Engineering- MultiMedia Univerity of Kenya" ></span> </li>
                <li> <span data-typewriter="> Full Stack Software Engineering- Moringa School" ></span> </li>
            </ul>
        </li>
    </ul>

    <script src="{{ url_for('static', filename='terminal.js') }}"></script>
    
</body>
</html>