<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>My Experience</title>
</head>
<body>

    <p><span data-typewriter="My Experience"></span></p> <br>

    <ul>

        <li> <span data-typewriter="> Assisted in the design and implementation of database systems, ensuring efficient data management."></span> </li> <br>
        <li> <span data-typewriter="> Developed and implemented features for web applications using programming languages."></span> </li> <br>
        <li> <span data-typewriter="> Social Media Management- Tovuty Technologies" ></span> </li> <br>
        <li> <span data-typewriter="> Database Administrator- Old Kachesa Suites"></span> </li> <br>
        
    </ul>

    <script src="{{ url_for('static', filename='terminal.js') }}"></script>
    
</body>
</html>