
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>My Portfolio</title>
    </head>
    <body>

        <p><span data-typewriter="Hello! Welcome to My Portfolio site."></span></p> <br>

        <!-- <p><span data-typewriter="About Me:"></span></p> <br> -->

        <ul>

            <li><span data-typewriter="Name: BARSIGO JOHN KIPLAGAT" ></span> </li>
            <li> <span data-typewriter="Tel: +254 717 829305" ></span> </li>
            <li> <span data-typewriter="Email:" ></span> <a href="mailto:johnbarsigo@gmail.com"><span data-typewriter="johnbarsigo@gmail.com"></span></a></li>
            <li> <span data-typewriter="GitHub:" ></span> <a href="https://github.com/johnbarsigo"><span data-typewriter="johnbarsigo"></span></a></li>
            <!-- TO BE ADDED -->
            <!-- <li> <span data-typewriter="LinkedIn:" ></span> <a href="https://www.linkedin.com/in/john-barsigo-8b9b1a1b3/"><span data-typewriter="john-barsigo"></span></a></li> -->

        </ul>

        <br>

        <p><span data-typewriter="PROFESSIONAL SUMMARY"></span></p> <br>
        <p><span data-typewriter="I am a full-stack Software Engineer. I specialize in Flask and React frameworks to build applications."></span></p>
        <p><span data-typewriter="I have experience in building REST APIs, authentication systems and I build database-driven applications as well."> </span></p>
        <p><span data-typewriter="I have a strong understanding of structuring back-end applications well and integrating it with the front-end using modern techniques." ></span></p>

        <br>

        <p> <span data-typewriter="Select:"></span></p> <br>

        <ol>

            <li><a href="{{ url_for('projects') }}"> <span data-typewriter="> VIEW PROJECTS" ></span></a></li>
            <li><a href="{{ url_for('about') }}"> <span data-typewriter="> ABOUT" ></span></a></li>
            <!-- <li><a href="{{ url_for('education') }}"> <span data-typewriter="> CONTACT" ></span></a></li> -->
            <!-- CONTACT should scroll to the contact section -->
            <li><a href="{{ url_for('experience') }}"> <span data-typewriter="> EXPERIENCE" ></span></a></li>
            <!-- HOME, PROJECTS, ABOUT, CONTACT (maybe not, in the intro) -->
             <li><a href="{{ url_for('education') }}"> <span data-typewriter="> DOWNLOAD RESUME" ></span></a></li>

        </ol>

        <p></p>

        <script src="{{ url_for('static', filename='terminal.js') }}"></script>
        
    </body>
    </html>