<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Projects</title>
</head>
<body>

    <p> <span data-typewriter="A passionate and innovative young professional open to opportunities to learn and working towards cementing an influencial position in the growing IT industry." ></span></p>


    <br>

    
    
    <script src="{{ url_for('static', filename='terminal.js') }}"></script>

</body>
</html>