<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Projects</title>
</head>
<body>

    <p> <span data-typewriter="MY PROJECTS AND CONTRIBUTIONS" ></span></p>


    <br>
    <br>
    <!-- PROJECT ONE -->
    <p><span data-typewriter="1. Food Court Web App"></span></p> <br>

    <p><span data-typewriter="A full-stack application that allows customers to order food and
        restaurant owners to manage menus and customers' orders. This streamlines the process of ordering, table identification and paying thus easing the load for both the customers and restaurant owners."></span></p> <br>

    <p><span data-typewriter="Technologies used: Python, Flask, SQLAlchemy, HTML, CSS, TypeScript, POSTGRESql, JWT, Vercel (Deployment)"></span></p>
    <br>

 
    <p> <span data-typewriter="My Contributions:" ></span> </p> <br>
    
    <ul>
        <li> <span data-typewriter="> Built authentication system with JWT"></span> </li>
        <li><span data-typewriter="> Designed REST API structure"></span></li>
        <li><span data-typewriter="> Integrated front-end and backend"></span></li>
    </ul>

    <br>

    <p><span data-typewriter="Links:"></span></p> <br>
    <ul>
        <li><span data-typewriter="GitHub: "></span> <a href="https://github.com/stephie-spec/nextgenfoodcourt.git">NextGenFoodCourt</a></li>
        <!-- PROJECT DEMO HERE -->
        <!-- <li><span data-typewriter="Live Demo: "></span> <a href="https://yourusername.github.io/yourproject">Your Project Demo</a></li> -->
    </ul>


    <!-- PROJECT TWO -->
    <p><span data-typewriter="2. Peer-to-Peer Vehicle Rental Platform"></span></p> <br>

    <p><span data-typewriter="Safiri Auto is a modern peer-to-peer vehicle rental platform built with Next.js 16 (React 19) on the front-end and Flask with SQLAlchemy on the back-end. The platform enables vehicle owners to list their cars for rent and allows customers to browse and book available vehicles."></span></p> <br>

    <p><span data-typewriter="Technologies used: Python, Flask, SQLAlchemy, HTML, CSS, TypeScript, JWT"></span></p>
    <br>

 
    <p> <span data-typewriter="My Contributions:" ></span> </p> <br>
    
    <ul>
        <li><span data-typewriter="> Integrated front-end and backend"></span></li>
        <li> <span data-typewriter="> Built authentication system with JWT"></span> </li>
        <li><span data-typewriter="> Refactored the application logic to return the essential outputs. This reduced
            unnecessary processing. It also improved performance made the code more readable and easier to maintain."></span></li>
    </ul>

    <br>

    <p><span data-typewriter="Links:"></span></p> <br>
    <ul>
        <li><span data-typewriter="GitHub: "></span> <a href="https://github.com/billotiende-droid/Safiri-Auto.git">Safiri-Auto</a></li>
        <!-- PROJECT DEMO HERE -->
        <!-- <li><span data-typewriter="Live Demo: "></span> <a href="https://yourusername.github.io/yourproject">Your Project Demo</a></li> -->
    </ul>

    <script src="{{ url_for('static', filename='terminal.js') }}"></script>

</body>
</html>