
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Resume</title>
</head>
<body>
    
    <h2> <span data-typewriter="CURRICULUM VITAE"></span> </h2>

    <br>
    <br>

    <ul>
        <li><a href="{{ url_for('static', filename='JohnBarsigoCV.pdf') }}" target="_blank"><span data-typewriter="View CV"></span></a></li>
        <br>
        <li><a href="{{ url_for('static', filename='JohnBarsigoCV.pdf') }}" download> <span data-typewriter="Download CV"></span></a></li>
    </ul>
    
    <script src="{{ url_for('static', filename='terminal.js') }}"></script>

</body>
</html>